@model IEnumerable<Result>
@{
    ViewData["Title"] = "Статистика";
    int i = 0;
}

<h6 class="list-group-item list-group-item-action bg-warning text-dark">Пользователь: @Model.Select(p => p.UserName).FirstOrDefault()</h6>
<br />
<table class="table table-bordered table-secondary">
    <thead class="thead-dark text-center">
        <tr>
            <th class="align-middle" style="width:3%">#</th>
            <th class="align-middle">Категория</th>
            <th class="align-middle" style="width:12%">Количество пройденных тестов</th>
            <th class="align-middle" style="width:17%">Количество положительных результатов</th>
            <th class="align-middle" style="width:17%">Количество отрицательных результатов</th>
            <th class="align-middle" style="width:12%">Средний результат по категории, %</th>
            <th class="align-middle" style="width:14%">Статистика по тестам</th>
        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var result in Model.GroupBy(p => p.Test.Category.Name))
        {
            <tr>
                <th class="align-middle">@(++i)</th>
                <td class="align-middle">@result.Key</td>
                <td class="align-middle">@result.Count()</td>
                <td class="align-middle">@result.Where(p => p.IsSuccess).Count()</td>
                <td class="align-middle">@result.Where(p => !p.IsSuccess).Count()</td>
                <td class="align-middle">@Math.Round((result.Sum(p => p.Point) / result.Count()), 1)</td>
                <td class="align-middle"><a asp-action="ShowUserStatsByTests" class="btn btn-primary" asp-route-userName="@Model.Select(p => p.UserName).FirstOrDefault()" asp-route-id="@result.FirstOrDefault(p => p.Test.Category.Name == result.Key).Test.Category.Id">Перейти к категории</a></td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="ShowGeneralUserStats" class="btn btn-secondary" style="width:25%">Назад</a>